.main-container {
    width: 55%;
    margin: auto;
    padding: 20px;
    border: 0.50px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

     
}
#faq-text {
    text-align: center;
    margin: 0;
}
.question {
    margin: 10px;
}
.question h3 {
    margin: 1px;
    padding: 10px;
    background-color: #eeebeb;
    border-radius: 10px;
}
.question p {
    display: none;
    text-align: center;
    background-color: #cebab7;
    color: #181515;
    font-size: 18px;
    border-radius: 4px;
    margin: 5px;
    border: 0.3px solid;

}
.question.active h3 {
    background-color: #FFFF00;
}
.question.active p {
    display: block;
}

#form-text {
    text-align: center;
    margin: 0;
}
#message {
    display: block;
    margin-bottom: 5px;
}
#enterQuestion {
    margin-left: 50px;
}
#newFaq-button {
    margin-left:70px;
    padding: 5px 10px;
    background-color: #bea19c;
    color: #131111;
    font-size: 18px;
    border-radius: 2px;
    border: 0.3px solid;
}
#newFaq{

}


